<body>
    <div class="container">
    	<div class="aw-movie white-frame shadow-expand">
    		<p>Choose a name from the following list:</p>
    		<ol>
    			<li ng-repeat="listName in listItems">
    				<a ng-click="chooseItem($index)">{{listName}}</a>
    			</li>
    		</ol>
            <footer><i>Info source:<br>http://jsonplaceholder.typicode.com/users</i></footer>
    	</div>

    	<div class="aw-movie green-frame shadow-expand" ng-hide="chooseindex == 0">
    		<div class="namecard-up">
    			<footer>{{displayname}}</footer>
    			<footer>Web Designer</footer>
    		</div>
    		<div class="namecard-down">
    			<footer>{{displayphone}} | {{displayemail}}</footer>
    			<footer>{{displayaddress}}</footer>
    		</div>
    	</div>
    </div>
</body>

</html>