<body>
    <div class="container">
		<div class="aw-community green-frame shadow-expand">
            <h4>The admin Report:</h4>
            <ul>
                <li>There are 3 people have Fisrt names which start with "C"</li>
                <li>There are 1 person has Fisrt name which starts with "E"</li>
                <li>There are 1 person has Fisrt name which starts with "G"</li>
                <li>There are 1 person has Fisrt name which starts with "K"</li>
                <li>There are 1 person has Fisrt name which starts with "L"</li>
                <li>There are 1 person has Fisrt name which starts with "M"</li>
                <li>There are 1 person has Fisrt name which starts with "N"</li>
                <li>There are 1 person has Fisrt name which starts with "P"</li>
            </ul>
            <div class="separator"></div>
            <footer>Truly do not have enough time to finish this part in two hours. But if I can have the honor to have an interview with your team, I am sure by the time I will have more sufficient skills with higher proficiency!</footer>
		</div>
	</div>
</body>