<body>
    <div class="container">
		<div class="intro bg-lab green-frame">
			<p>Dear HR,<br>
			Honestly, two hours is a very short time for a graduate developer like me to make this app perfect. <br>
			<br>
			Thus I have to clone some stylesheet from my personal website "Charles' Alien World", which is also written by me, word by word. It is hardly a plagiarism, but I do use some of my older tricks to make things fast. So if you see some strange code like "movies" or "work reports", please understand that. <br>
			<br>
			But I have confidence that, with practial experience in real work, I will make perfection with much higher proficiency!<br>
			<br>
			Thank you!!! <br>
			</p>
			<footer>Written by Charles.</footer>
			<footer>Finished on: 1/8/2017</footer>
			<footer>Today's date: {{currentdate.date}}</footer>
		</div>
    </div>
</body>