<body>
    <div class="container">
		<div class="intro bg-lab green-frame">
			<p class="intro-text">Dear Sir / Madam,<br>
			This app extracts data from <a href="http://jsonplaceholder.typicode.com/users" target="_blank">http://jsonplaceholder.typicode.com/users</a><br>
			Click <span>the button above</span> to expand the menu and find out what the app can do~<br>
			Click <a href="https://charles-alienworld.herokuapp.com/about/statepanel" target="_blank">About Author</a> will guide you to another website, <span>Charles' personal website</span>.
			</p>
			<br>
			<footer>Written by Charles.</footer>
			<footer>Finished on: 1/8/2017</footer>
			<footer>Today's date: {{currentdate.date}}</footer>
		</div>
    </div>
</body>