<body>
    <div class="container">
		<div class="intro bg-lab green-frame">
			<p>Dear Sir / Madam,<br><br>
			The app extracts data from <a href="http://jsonplaceholder.typicode.com/users" target="_blank">http://jsonplaceholder.typicode.com/users</a><br>
			Click <span>the button above</span> and find it out what the app can do~
			</p>
			<footer>Written by Charles.</footer>
			<footer>Finished on: 1/8/2017</footer>
			<footer>Today's date: {{currentdate.date}}</footer>
		</div>
    </div>
</body>