<body>
    <div class="container">
    	<div class="aw-movie white-frame shadow-expand">
    		<p>Choose one name from the following list and the card will be shown below:</p>
    		<ol>
    			<li ng-repeat="listName in listItems track by listName">
                    <!-- <a ng-click="chooseItemByIndex($index)">{{listName}}</a> -->
                    <a ng-click="chooseItemByName(listName)">{{listName}}</a>                    
    			</li>
    		</ol>
            <footer><i>Info source:<br>http://jsonplaceholder.typicode.com/users</i></footer>
    	</div>

    	<div class="aw-movie green-frame shadow-expand" ng-hide="chooseindex == 0">
            <div class="sc-frame-outer">
                <div class="sc-frame-middle">
                    <div class="sc-frame-inner">
                        <div class="namecard-up">
                            <footer>{{displayname}}</footer>
                            <footer>Web Designer</footer>
                        </div>
                        <div class="namecard-down">
                            <div class="triangle-down"></div>
                            <footer>{{displayphone}} | {{displayemail}}</footer>
                            <footer>{{displayaddress}}</footer>
                        </div>
                    </div>
                </div>
            </div>

    	</div>
    </div>
</body>

</html>