<!DOCTYPE html>
<html>
    <head>
        <title>Alien Games</title>
    </head>

<body>
    <div class="container">
    	<div class="aw-game green-frame shadow-expand">
            <p>Please enter the name of the person you want to search for:</p>
            <input ng-model="searchName">
            <button ng-click="searchPerson()">Search !</button>
            <div class="separator"></div>
            <p>(Please pay attation to Capitalization. The search result will not display if no match is found)</p>
        </div>
        <div class="aw-game white-frame shadow-expand" ng-hide="hideResult">
            <p>The search result is:</p>
            <div class="namecard-up">
                <footer>{{displayname}}</footer>
                <footer>Web Designer</footer>
            </div>
            <div class="namecard-down">
                <footer>{{displayphone}} | {{displayemail}}</footer>
                <footer>{{displayaddress}}</footer>
            </div>
        </div>
    </div>
</body>

</html>